[class^='i-'] {
    width: 17px;
    height: 17px;
    display: inline-block;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 100%;
    vertical-align: middle;
}

.i-user {
    //background-image: url('../img/icons/user.png');
}

.i-bin {
    //background-image: url('../img/icons/bin.png');
}

.i-alert {
    //background-image: url('../img/icons/alert.png');
}

.i-analytics {
    //background-image: url('../img/icons/analytics.png');
}

.i-staff {
    //background-image: url('../img/icons/staff.png');
}

.i-clients {
    //background-image: url('../img/icons/clients.png');
}

.i-aircraft {
    //background-image: url('../img/icons/aircraft.png');
}
