[class^='i-'] {
    width: 17px;
    height: 17px;
    display: inline-block;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 100%;
    vertical-align: middle;
}
