// Разметка страницы, позиционирование элементов

.g-clear {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

.g-overflow {
  overflow: hidden;
}

.g-layout {
    min-width: 1340px;
    max-width: 1920px;
    margin: 0 auto;

    box-sizing: border-box;
}

.g-content {
    padding: 55px 0 0;
    width: 100%;

    box-sizing: border-box;

    &::after {
        display: table;

        clear: both;
        content: '';
    }
}

.g-title {
  margin: 20px 35px 10px;
}

.g-section {
    @include m-clear;

    margin: 0 35px;
}

.g-section__title {
  position: relative;

  padding: 15px 10px 10px 5px;

    color: #9a9a9a;
    border-bottom: 1px solid #e7e7e7;
}

.g-section__content {
    margin: 15px 0 0;
}

.g-section__column {
  float: left;

  box-sizing: border-box;
}

.g-section__column_p-r {
  padding: 0 20px 0 0;
}

.g-section__column_p-l {
  padding: 0 0 0 20px;
}

.g-section__column_38 {
  width: 38%;
}

.g-section__column_62 {
  width: 62%;
}

.g-section__column_50 {
  width: 50%;
}

.g-section__row {
  margin: 0 0 6px;

  @include m-clear;
}

.g-section__footer {
  margin: 20px 0 0 0;
}

/* Разметка */
