$font-base: Helvetica, Arial, sans-serif;

$base-line-height: 1.4;
$base-font-size: 1rem;
$vertical-rhythm: $base-line-height * $base-font-size;


$link-color: #074aff;
$link-color-visited: #8eaaff;
$link-color-header: #02287e;

$paragraph-color: #515151;


// Breadcrumbs, small text, spans
$color-gray: #808080;
// Headers, Main text
$color-gray-dark: #404040;
// Menu
$color-black: #000;
// Links
$color-blue: #384580;
// Active dashed links
$color-blue-light: #0056AB;
