@import '../../common/scss/variables';

.b-header {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  min-width: 1340px;

  height: 55px;
  padding: 0 0 0 62px;

  white-space: nowrap;
  background: #FFF;

  &__logo {
    position: absolute;
    top: 7px;
    bottom: 0;
    left: 11px;
    height: 40px;
  }

  &__services {
    margin-left: auto;
    height: 52px;
    text-align: right;
  }

  &::after {
    content: '';
    clear: both;
    background: #003A91;
    border-radius: 2px;
    position: absolute;
    border: 1px solid #003A91;
    height: 1px;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    z-index: -1;
  }
}
