$border-color: #b2b2b2;

.b-dashboard {
  position: absolute;
  top: 53px;
  background: #ECECEC;
  overflow: hidden;
  width: 97%;
  left: 0;
  right: 0;
  max-height: 0;
  margin: 0 auto;
  transition: max-height .15s ease-out;
  border: 1px solid #002E95;
  z-index: 5;

  & div {
    background: #EAEAEA;
    color: #515151;
    word-wrap: break-word;
    white-space: pre-wrap;

    & span,
    & a {
      //display: inline-block;
      //font-weight: bold;
      color: #515151;
    }
  }

  &__staff {
    clear: left;
    border: 1px solid $border-color;
    text-align: left;
    margin-bottom: 11px;
    overflow: hidden;
    position: relative;

    &-photo {
      width: 66px;
      height: 56px;
      float: left;

    }

    &-description {
      padding: 9px 6px 5px;
      margin-left: 66px;
      //
      //&::after {
      //  content: '';
      //  position: absolute;
      //  top: 0;
      //  bottom: 0;
      //  margin-left: -6px;
      //  border-left: 1px solid $border-color;
      //}
    }
  }
}

.b-dashboard--visible {
  max-height: 600px;
  transition: max-height .25s ease-in;
}

.b-plane-info {
  background: #EAEAEA;
  text-align: center;

  &__title {
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    color: #515151;
  }
}